body {
  font-family: Arial, sans-serif;
}

.title-image {
  text-align: center; /* Centraliza a imagem */
  margin-top: 5px; /* Espaço acima da imagem */
  margin-bottom: 0px; /* Espaço abaixo da imagem */
}
.title-image img {
  max-width: 85%; /* Ajusta a largura da imagem ao tamanho do contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

.container {
  width: 300px;
  margin: 10px auto;
}

#nameInput {
  width: 115px;
  padding: 5px;
}

#teamSizeBox {
  width: 2ch;
  padding: 5px;
  text-align: center;
}

#addButton {
  padding: 5px 5px;
  margin-left: 5px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: center;
}

.actions-cell {
    display: flex; /* Usar flexbox para alinhar os botões */
    justify-content: space-between; /* Espaço entre os botões */
    align-items: center; /* Centraliza verticalmente os botões */
}

button.action-btn {
  padding: 5px;
}

button.down {
  width: 4ch;
}

button.up {
  width: 4ch;
  margin-left: 20%;
}

button.del {
  margin-bottom: 15%;
  margin-right: auto;

}

/* Estilo do botão grande */
.big-button {
  background-color: #007BFF;
  color: white;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.big-button:hover {
  background-color: #0056b3;
}

/* Estilo da Segunda Tela */
.team-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.versus {
  font-size: 24px;
  font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
}