body {
  font-family: Arial, sans-serif;
}

.title-image {
  text-align: center; /* Centraliza a imagem */
  margin-top: 5px; /* Espaço acima da imagem */
  margin-bottom: 0px; /* Espaço abaixo da imagem */
}
.title-image img {
  max-width: 85%; /* Ajusta a largura da imagem ao tamanho do contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

.container {
  width: 300px;
  margin: 10px auto;
}

#nameInput {
  width: 115px;
  padding: 5px;
}

#teamSizeBox {
  width: 2ch;
  padding: 5px;
  text-align: center;
}

#addButton {
  padding: 5px 5px;
  font-size: 10px;
}

/* Estilo inicial do botão - cinza e apagado */
.btn {
    background-color: #b0b0b0;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: all 0.3s ease; /* Suaviza a transição */
}

/* Estilo do botão ao ser clicado - brilhante com gradiente animado */
.btn.glowing {
    background: linear-gradient(270deg, #ff0080, #ff8c00, #40e0d0);
    background-size: 600% 600%;
    animation: glowing 4s ease infinite; /* Animação de degradê */
    color: white;
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.7), 0 0 30px rgba(255, 140, 0, 0.5), 0 0 40px rgba(64, 224, 208, 0.5);
}

/* Animação de movimento do degradê */
@keyframes glowing {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.hidden {
  display: none;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: center;
}

.actions-cell {
    display: flex; /* Usar flexbox para alinhar os botões */
    justify-content: space-between; /* Espaço entre os botões */
    align-items: center; /* Centraliza verticalmente os botões */
}

button.action-btn {
  padding: 5px;
}

button.down {
  width: 4ch;
}

button.up {
  width: 4ch;
  margin-left: 20%;
}

button.del {
  margin-bottom: 15%;
  margin-right: auto;

}

/* Estilo do botão grande */
.big-button {
  background-color: #007BFF;
  color: white;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.big-button:hover {
  background-color: #0056b3;
}

/* Estilo da Segunda Tela */
.team-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.versus {
  font-size: 24px;
  font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
}