body {
  font-family: Arial, sans-serif;
  background-color: #81d8d0;
}

input[type="text"],
textarea {
  border-radius: 5px;
  background-color: #0abab5;
}

button {
  border-radius: 10px;
  background-color: #139fec;
}

.title-image {
  text-align: center; /* Centraliza a imagem */
  margin-top: 5px; /* Espaço acima da imagem */
  margin-bottom: 0px; /* Espaço abaixo da imagem */
}
.title-image img {
  max-width: 85%; /* Ajusta a largura da imagem ao tamanho do contêiner */
  height: auto; /* Mantém a proporção da imagem */
}

.container {
  display: flex;
  flex-direction: column; /* Organiza os elementos verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza o container verticalmente */
  margin: 0 auto; /* Centraliza o container horizontalmente */
  text-align: center; /* Centraliza o texto dentro do container */
  min-width: 40ch;
  max-width: 500px;
  padding-bottom: 100px;
}

/* Estilo para as linhas do time 1 */
.team1 {
  background-color: #f2dede; /* Cor de fundo para o Time 1 */
}

/* Estilo para as linhas do time 2 */
.team2 {
  background-color: #d9edf7; /* Cor de fundo para o Time 2 */
}

.teamList {
  max-width: 15ch; /* Limite máximo de largura, ajuste conforme necessário */
  overflow: hidden; /* Esconde texto que ultrapassa o limite */
  text-overflow: ellipsis; /* Adiciona "..." ao final do texto se exceder a largura */
  white-space: nowrap; /* Evita quebra de linha */
}

/* Centraliza a tabela no container */
#nameTable {
  margin: 5px; /* Centraliza a tabela horizontalmente */
  table-layout: auto; /* Define largura fixa para as colunas */
  width: 100%; /* Ajuste conforme necessário */
}

/* Limita o tamanho da coluna Nome */
#nameTable td:nth-child(1) {
  max-width: 20ch; /* Limite máximo de largura, ajuste conforme necessário */
  overflow: hidden; /* Esconde texto que ultrapassa o limite */
  text-overflow: ellipsis; /* Adiciona "..." ao final do texto se exceder a largura */
  white-space: nowrap; /* Evita quebra de linha */
}

/* Centraliza o texto de outras colunas */
#nameTable th,
#nameTable td {
  text-align: center;
}

#inputBox {
  white-space: nowrap;
}

#clearButton {
  margin-right: 10px;
  background-color: rgb(255, 42, 42);
  color: white;
}

#nameInput {
  width: 35%;
  padding: 5px;
}

#teamSizeBox {
  width: 2ch;
  padding: 5px;
  text-align: center;
  margin-left: 10px;
  margin-right: 5px;
}

#addButton {
  padding: 5px 5px;
  font-size: 10px;
}

/* Estilo inicial do botão - cinza e apagado */
.btn {
  background-color: #b0b0b0;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  transition: all 0.3s ease; /* Suaviza a transição */
}

/* Estilo do botão ao ser clicado - brilhante com gradiente animado */
.btn.glowing {
  background: linear-gradient(270deg, #ff0080, #ff8c00, #40e0d0);
  background-size: 600% 600%;
  animation: glowing 4s ease infinite; /* Animação de degradê */
  color: white;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.7), 0 0 30px rgba(255, 140, 0, 0.5),
    0 0 40px rgba(64, 224, 208, 0.5);
}

/* Animação de movimento do degradê */
@keyframes glowing {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hidden {
  display: none;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: center;
}

.actions-cell {
  display: flex; /* Usar flexbox para alinhar os botões */
  justify-content: center; /* Espaço entre os botões */
  align-items: center; /* Centraliza verticalmente os botões */
}

button.action-btn {
  padding: 5px;
}

button.down {
  width: 4ch;
}

button.up {
  width: 4ch;
  margin-left: 20%;
}

button.del {
  margin-right: auto;
}

/* Estilo do botão grande */
/* Estilo para fixar o botão "Gerar Times" no rodapé */
.big-button {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  min-width: 90%;
  max-width: 95%;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  white-space: nowrap; /* Evita quebra de linha */
}

.big-button:hover {
  background-color: #0056b3;
}

#playButton {
  background-color: #007bff;
  color: white;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Estilo da Segunda Tela */
.team-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.versus {
  font-size: 24px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

/* Estilo do pop-up */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Conteúdo do pop-up */
.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Esconde o pop-up */
.hidden {
  display: none;
}

/* Botões do pop-up */
#confirmClearButton,
#cancelClearButton {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}
